body {
  font-family: "Roboto", sans-serif;
  color: #505050;
}

.content {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f1f1f1;
}

.nav-top {
  width: 100%;
  height: 64px;
}
.text-profile {
  height: 24px;
  margin: 20px 32px;
}
.text-profile img {
  width: 14px;
  height: 9.64px;
  margin-left: 5px;
}
.text-profile p {
  font-weight: 500;
  font-size: 18px;
  margin-left: 9px;
  margin-top: auto;
}
.text-profile span {
  font-weight: 400;
}
.statistic {
  width: auto;
  margin: 8px 32px;
}
.statistic-element {
  width: auto;
  margin-left: 20px;
}
.statistic-element img {
  margin: 0px 0px 3px 20px;
}
.statistic-element p {
  font-weight: 400;
  font-size: 14px;
  margin-top: 6px;
}

.nav-bottom {
  background-color: #fafafa;
  width: 100%;
  height: 40px;
  margin-top: 1px;
}

.menu,
.menu-second  {
  width: auto;
  height: 40px;
  margin-left: 32px;
  font-weight: 400;
  font-size: 14px;
}
.menu-element {
  text-decoration: none;
  color: #505050;
  margin: 0 10px;
}

.menu-element p {
  margin: 0;
}
.menu .menu-element:nth-child(1) {
  width: 106px;
}
.menu .menu-element:nth-child(2) {
  width: 88px;
}
.menu .menu-element:nth-child(3) {
  width: 92px;
}
.menu-element:hover,
.menu-second-element:hover {
  background-color: #f1f1f1;
}

.active-link {
  background-color: #f1f1f1;
}

.menu-second-element {
  width: auto;
  margin: 0 10px;
}

.menu-second .menu-second-element:nth-child(1) {
  width: 98px;
  height: 40px;
}
.menu-second .menu-second-element:nth-child(2) {
  width: 98px;
  height: 40px;
}
.menu-second .menu-second-element:nth-child(3) {
  width: 105px;
  height: 40px;
}
.menu-second .menu-second-element:nth-child(4) {
  width: 77px;
  height: 40px;
}

.menu-second-element p {
  margin: 0;
}

.main {
  background-color: #f1f1f1;
  width: 100%;
  height: 912px;
}

.main-content {
  background-color: #f1f1f1;
  width: 1080px;
  height: 848px;
  margin-top: 32px;
  margin-left: 32px;
}
.main-content-picture {
  width: 100%;
  height: 672px;
}
.main-content-picture > img {
  margin-top: 56px;
  margin-left: 32px;
}
.main-content-picture-comment {
  height: 24px;
  margin-left: 32px;
  margin-top: 16px;
}
.main-content-picture-comment > img {
  margin-left: 4px;
  margin-top: 5px;
}
.main-content-picture-comment > p {
  font-weight: 400;
  font-size: 14px;
  color: #5095ec;
  margin-top: 3px;
  margin-left: 14px;
}
.main-content-picture-comment > p > span {
  color: #505050;
}

.main-content-picture-text {
  width: 1016px;
  height: 64px;
  margin-left: 32px;
  margin-top: 16px;
}
.main-content-border {
  width: 2px;
  background-color: #d3d8de;
  height: 63px;
  position: absolute;
}
.main-content-picture-text > p {
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
}
.main-content-picture-text p:nth-child(3) {
  color: #8f8f8f;
}

.main-content-picture-amount {
  width: 141px;
  height: 24px;
  margin-left: 32px;
  margin-top: 2em;
}
.eye {
  width: 59px;
  height: 24px;
}
.eye > img {
  margin-top: 5px;
  margin-left: 2px;
}
.eye p {
  font-weight: 400;
  font-size: 16px;
}

.com {
  width: 50px;
  height: 24px;
}
.com > img {
  margin-left: 4px;
  margin-top: 5px;
}
.com p {
  font-weight: 400;
  font-size: 16px;
}

.main-content-element {
  width: 100%;
  max-width: 1080px;
  height: 56px;
  margin-top: 32px;
}
.main-content-element > p {
  margin-top: 18px;
  margin-left: 32px;
  font-weight: 400;
  font-size: 16px;
}

.main-content-element-rightblock {
  height: 24px;
  margin-top: 16px;
  margin-right: 32px;
}
.main-content-element-rightblock p {
  font-weight: 400;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
}
.main-content-element-rightblock img:nth-child(1) {
  margin-left: 3px;
  margin-top: 3px;
}

.main-content-element-rightblock img:nth-child(3) {
  margin-right: 5px;
  margin-top: 8px;
}

.main-resume {
  margin-top: 32px;
  margin-left: 32px;
  width: 100%;
  max-width: 264px;
  height: 296px;
}
.main-resume > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}
.main-resume-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 17.5px;
  font-weight: 400;
  font-size: 18px;
  height: 45px;
}
.main-resume-text p {
  margin: 0px;
}
.main-resume-text span {
  font-size: 14px;
  color: #8f8f8f;
}
.main-resume-icons {
  margin-left: auto;
  margin-right: auto;
  width: 76px;
  margin-top: 17.5px;
}

.main-navigation {
  width: 264px;
  height: 312px;
  margin-top: 32px;
  margin-left: 32px;
}
.main-navigation-top {
  height: 38px;
  border-bottom: 1px solid #d3d8de;
}
.main-navigation-top-element {
  height: 20px;
  padding-top: 9px;
}
.main-navigation-top-element p {
  font-weight: 500;
  font-size: 14px;
  margin-left: 16px;
}
.main-navigation-top-element > img {
  margin-right: 22px;
  margin-top: 7px;
}

.main-navigation-middle {
  height: 160px;
  border-bottom: 1px solid #d3d8de;
}
.main-navigation-middle-element {
  margin-top: 16px;
  height: 144px;
}
.main-navigation-middle-element-box {
  width: 248px;
  height: 24px;
}
.main-navigation-middle-element-box img {
  margin-left: 16px;
}
.main-navigation-middle-element-box > img {
  margin-top: 3px;
}
.main-navigation-middle-element-box p:nth-child(2) {
  margin-left: 16px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 1px;
}
.MyProfile {
  text-decoration: none;
  color: #505050;
  font-size: 14px;
  font-weight: 400;
}
.balance,
.connections,
.events {
  font-size: 12px;
  font-weight: 400;
  margin-top: 3px;
  margin-left: 8em;
  color: #8f8f8f;
}

.connections {
  width: 24px;
  height: 16px;
  background-color: #e33939;
  text-align: center;
  border-radius: 8px;
  margin-left: 7em;
}

.connections p {
  font-family: "VTB Group Book";
  color: white;
  margin-top: -1px;
}

.main-navigation-bottom-element {
  margin-top: 16px;
  height: 64px;
}
.events {
  width: 24px;
  height: 16px;
  margin-top: 4px;
  background-color: #47b091;
  text-align: center;
  border-radius: 8px;
  margin-left: 10em;
}
.events p {
  font-family: "VTB Group Book";
  color: white;
  margin-top: -1px;
}

.main-share {
  width: 265px;
  height: 190px;
  margin-top: 32px;
  margin-left: 32px;
}
.main-share-top {
  height: 38px;
  border-bottom: 1px solid #d3d8de;
}

.message {
  margin-left: 16px;
  margin-top: 28px;
  width: 232px;
  height: 88px;
  color: #8f8f8f;
  border-radius: 4px;
  border: 1px solid #d3d8de;
  padding-left: 16px;
  padding-top: 8px;
  font-size: 14px;
  font-weight: 400;
  resize: none;
}
.button-textarea {
  width: 232px;
  height: 32px;
  margin-left: 16px;
  margin-top: 4px;
  background-color: #5095ec;
  border-radius: 4px;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 500;
}
/* ---------------------------------------------------------------------------------------------------- */

@media (max-width: 1440px) {
  .content {
    width: 100%;
    padding: 0 1em;
  }

  .nav-top {
    width: 100%;
    flex-wrap: wrap;
    align-content: space-between;
  }

  .main {
    height: auto;
  }

  .main-content-picture-amount {
    margin-left: 2em;
    margin-top: 2em;
  }

  .main-content-element {
    width: 100%;
  }

  .main-resume {
    width: 100%;
  }
  .main-share {
    width: 265px;
  }
  .button-textarea {
    height: auto;
    margin-left: 1em;
    margin-top: 0.5em;
  }
}

/* ---------------------------------------------------------------------------------------------------- */

@media (max-width: 1024px) {
  .content {
    width: 100%;
    padding: 0 1em;
  }
  .nav-bottom {
  height: 5em;
  }
  .menu-second {
    flex-wrap: wrap;
    height: auto;
  }

  .main {
    width: 100%;
    height: auto;
  }
  .main-content {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .main-content-picture {
    height: auto;
    width: 100%;
  }
  .main-content-picture > img {
    width: 100%;
    margin: 0;
  }
  .main-content-picture-text {
    width: 100%;
    margin-left: auto;
  }
  .main-content-element {
    width: 100%;
  }
  .main-resume {
    width: 100%;
    margin-left: 0;
  }
  .main-navigation {
    margin-left: 0em;
  }

  .main-share {
    margin-left: 0em;
  }

  .button-textarea {
    margin-left: 1em;
    margin-top: 0.5em;
  }
}

/* ---------------------------------------------------------------------------------------------------- */

@media (max-width: 768px) {
  .content {
    width: 100%;
    padding: 0 1em;
  }
  .nav-top {
    width: 100%;
    flex-wrap: wrap;
    align-content: space-between;
    height: auto;
  }
  .statistic {
    width: 100%;
    margin-top: 0.5em;
  }
  .statistic-element {
    width: auto;
    margin: 0;
  }
  .nav-bottom {
    width: 100%;
    align-items: flex-start;
    height: auto;
  }
  .menu, .menu-second {
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    height: auto;
  }
  .menu-element {
    margin-top: 0.5em;
    flex: 1 1 auto;
    text-align: center;
  }
  .main {
    height: auto;
    width: 100%;
  }
  .main-content {
    height: auto;
    width: 100%;
    margin-top: 2em;
  }
  .main-content-picture {
    height: auto;
    width: 100%;
  }
  .main-content-picture > img {
    width: 100%;
  }
  .main-content-picture-comment > p > span {
    color: #505050;
  }
  .main-content-picture-text {
    width: 100%;
  }
  .main-content-picture-amount {
    margin-top: 3em
  }
  .main-content-element {
    width: 100%;
  }
  .main-resume {
    width: 100%;
    margin-left: 0em;
  }

}

/* ---------------------------------------------------------------------------------------------------- */
@media (max-width: 480px) {
  
  .nav-bottom {
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
  }

  .menu, .menu-second {
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
  }

  .main-content-picture {
    height: auto;
    width: 100%;
    margin-top: 1em;
  }
  .main-content-picture-text {
    width: 100%;
  }
  .main-content-border {
    width: 2px;
    background-color: #d3d8de;
    height: 4em;
    position: absolute;
  }
  .main-content-picture-amount {
    margin-top: 6em;
  }
  .main-content-element {
    width: 100%;
    margin-top: 1em;
  }
  .main-resume {
    width: auto;
    margin-top: 1em;
    max-width: unset;
  }
  .main-resume-text p {
    margin: 0;
  }

  .main-navigation {
    width: auto;
    margin-top: 1em;
  }
  
  .main-share {
    width: auto;
    margin-top: 1em;
  }
}