.main-map {
  background-color: #f1f1f1;
  width: 1440px;
  height: 660px;
}

.main-content-map {
  width: 1376px;
  height: 568px;
}
.navigation-second-page {
  width: 1376px;
  height: 56px;
}
.navigation-second-page p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 18px;
  margin-left: 32px;
}
.navigation-second-page-icons {
  width: 88px;
  height: 24px;
  margin-top: 16px;
  margin-right: 32px;
}
.navigation-second-page-icons div {
  margin-top: -1px;
}
.navigation-second-page-icons div:nth-child(1) {
  margin-top: -1px;
  margin-left: 5px;
}
.navigation-second-page-icons div:nth-child(3) {
  margin-top: -1px;
  margin-right: 5px;
}

.main-content-map-element {
  width: 1312px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
}

  .rotate-svg {
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

.main-content-timer {
  width: 1376px;
  height: 67px;
  padding-left: 32px;
  padding-top: 18px;
}
